h1 {
    background: rgb(61, 60, 60);
    padding: 20px;
    text-align: center;
}


nav {
    
    text-align: left; 
    display: flex;  
    flex-direction: column; 
}

nav a {
     
    text-decoration: none;
    margin: 10px 0;  
}


.container {
    display: flex;
}

article {
    flex: 2;
    background: gray;
    text-align: left;
}

aside {
    flex: 1;
    padding: 20px 300px;
    background-color: #f0f0f0;
    
}

footer {
    background: #595a58;
    padding: 20px;
    text-align: center;
}
