h1 {
    background: gray;
    padding: 20px;
    text-align: center;
}


nav {
    padding: 1px;
    text-align: left; 
    display: flex;  
    flex-direction: column; 
}

nav a {
     
    text-decoration: none;
    margin: 10px 0;  
}


.container {
    display: flex;
}

article {
    flex: 2;
    background: #3f413f;
    text-align: left;
}

aside {
    flex: 1;
    padding: 20px 200px;
    background-color: #f0f0f0;
    
}

footer {
    background: #989C97;
    padding: 20px;
    text-align: center;
}
